body {
  display: grid;
  grid-template-areas:
      "nav"
      "content"
      "footer";
}

.nav {
  grid-area: nav;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}

.bi {
  vertical-align: -.125em;
  font-size: 1.5em;
}

.project-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

/* styles to override Bootstrap's default color palette */
.s-btn-primary {
  background-color: #1B998B;
  color: white;
}

.s-btn-secondary {
  background-color: #5E6B77;
  color: white;
}

.s-footer {
  background-color: #F0EFF4;
}

.s-text-pink-hightlight {
  color: #A13D63;
}

.s-text-blue-highlight {
  color: #506DCE;
}

.s-bio-heading {
  text-decoration: underline;
}

a.s-card-link:link, .bio a:link {
  color: #1b998b;
}

/* visited link */
a.s-card-link:visited, .bio a:visited {
  color: #5e6b77;
}

/* mouse over link */
a.s-card-link:hover, .bio a:hover {
  color: #a13d63;
}

/* selected link */
a.s-card-link:active, .bio a:active {
  color: #1b998b;
}